body {
	background-color: #000;
	color: #ff8c00;
	margin: 0px;
	padding: 0px;
}


header {
	border: 1px solid #fff;
	position: absolute;
	left: 10px;
	top: 10px;
	width: 690px;
	height: 1060px;
}


main {
	border: 1px solid #fff;
	position: absolute;
	left: 710px;
	top: 10px;
	width: 1720px;
	height: 780px;
}

footer {
	border: 1px solid #fff;
	position: absolute;
	left: 710px;
	top: 800px;
	width: 1720px;
	height: 400px;
}